

  <br><br>
  
  <!-- <div class="jumbotron shadow bg-light"  style="padding: 100px;"> -->
    
    <!-- <div class="card shadow bg-dark float-right" style="padding: 10px;"><img src="image1.jpg" class="img-thumbnail" width="300" height="80" ></div> -->
     <!-- <p class="text-justify lead  text-white" >                  <b> A stock exchange, securities exchange or bourse is a facility where stockbrokers 
       and traders can buy and sell securities, such as shares of stock and bonds and other financial instruments.
        Stock exchanges may also provide facilities for the issue and redemption of such securities and instruments 
        and capital events including the payment of income and dividends Securities traded on a stock exchange include 
        stock issued by listed companies, unit trusts, derivatives, pooled investment products and bonds. Stock exchanges 
        often function as "continuous auction" markets with buyers and sellers consummating transactions via open outcry 
        at a central location such as the floor of the exchange or by using an electronic trading platform.</b>
     </p>

     <div class="col">
       
      <a href="https://www.cognizant.com/" target="_blank">       <img  class="img-resposive rounded-circle" src="../../../assets/cts.webp" alt="Cognizant" style="width: 20%; width: 20%; padding-left: 30px;"></a>
       
      <a href="https://www.infosys.com/" target="_blank">  <img  class="img-resposive rounded-circle" src="../../../assets/infosys.webp" alt="Infosys" style="width: 20%; width: 20%; padding-left: 30px;"></a>
        <a href="https://www.accenture.com/" target="_blank">   <img  class="img-resposive rounded-circle" src="../../../assets/accenture-featured-the-tech-portal-800x430.jpg" alt="Accenture" style="width: 20%; width: 20%; padding-left: 30px;"></a>
          <a href="https://www.tcs.com/" target="_blank">    <img  class="img-resposive rounded-circle" src="../../../assets/tcs.png" alt="TCS" style="width: 20%; width: 20%; padding-left: 30px;"></a>
            <a href="https://www.hcl.com/" target="_blank">   <img  class="img-resposive rounded-circle" src="../../../assets/Hcl.jpg" alt="HCL" style="width: 20%; width: 20%; padding-left: 30px;"></a> -->



      <!-- </div> -->
     <!-- <p class="text-justify lead  text-black">To be able to trade a security on a certain stock exchange, the security must be listed there. Usually, 
       there is a central location at least for record keeping, but trade is increasingly less linked to a physical place,
        as modern markets use electronic communication networks, which give them advantages of increased speed and reduced
         cost of transactions. Trade on an exchange is restricted to brokers who are members of the exchange. In recent years,
          various other trading venues, such as electronic communication networks, alternative trading systems and "dark pools" 
          have taken much of the trading activity away from traditional stock exchanges.</p> -->
        <!-- </div> -->
          <div class="container-fluid">
          
              <router-outlet></router-outlet>
            </div>
            
 