<div class="container-fluid">

    <div class="col-md-6 my-3">
        <div class="card my-card border border-curved text-center h-100" routerLink="/adminlogin">
              <div class="card-body">
                  <h4 class="card-title display-4">Admin Login</h4>
              </div>
        </div>
    </div>

    <div class="col-md-6 my-3">
        <div class="card my-card border border-curved text-center h-100" routerLink="/login">
              <div class="card-body">
                  <h4 class="card-title display-4">User</h4>
              </div>
        </div>
    </div>
</div>