<!-- <div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/upload">
          <div class="card-body">
              <h4 class="card-title display-4">Import Data</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/companylist">
          <div class="card-body">
              <h4 class="card-title display-4">ManageCompany</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/stocklist">
          <div class="card-body">
              <h4 class="card-title display-4">Manage Stock Exchange</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/sectorlist">
          <div class="card-body">
              <h4 class="card-title display-4">Manage Sector</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/ipodetails">
          <div class="card-body">
              <h4 class="card-title display-4">ManageeIpoDetails</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/userslist">
          <div class="card-body">
              <h4 class="card-title display-4">ManageUserDetails</h4>
          </div>
    </div>
</div>



<br> -->
<!-- 
<div class="col">
       
    <a routerLink="/upload" ><img  class="img-resposive rounded-circle" src="../../../../assets/import.png" alt="Import Data" style="width: 20%; width: 20%; padding-left: 30px;"></a>
     
</div> -->

<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive  rounded-circle" src="../../../../assets/import.png" alt="import">
            <div class="overlay">
                 <h2>IMPORT DATA</h2>
				<p class="text-middle">
                   
					<a routerLink="/upload">Click Here</a>
				</p>
            </div>
    </div>
</div> -->

<br>
<br>
<!-- <div class="col">
<div class="row-2"> -->
    <!-- <div class="row-3"> -->

<!--     
    <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
        <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/uploadgigg.gif" alt="Card image cap">  </a>
    </div>


</div>

<div class="row-2">
    
        
        <div class="card-shadow" style="height: 10rem; width: 10rem;">
        
            <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/usersgif.gif" alt="Card image cap">  </a>
        </div>
    
  

</div>
<div class="row-2">
    
        
    <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
        <a routerLink='/userslist'>   <img class="card-img-top" src="../../../../assets/ipogigf.gif" alt="Card image cap">  </a>
    </div>



</div>
<div class="row-2">
    
        
    <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
        <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/managecompanyGif.gif" alt="Card image cap">  </a>
    </div>



</div>
<div class="row-2">
    
        
    <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
        <a routerLink='/chart'>   <img class="card-img-top" src="../../../../assets/stockexchangegif.gif" alt="Card image cap">  </a>
    </div>



</div>
</div> -->



<!-- 
<div class="col-md-2 bg-transparent border">
    <div class="sidenav-responsive"> -->
        <!-- <div class="list-group list-group-flush"> -->
        <!-- <a routerLink="/view" id="widget"
            class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Users</a>
        <a routerLink="/viewCompany" id="widget"
            class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Company</a>
        <a routerLink="/viewIpo" id="widget"
            class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage IPO</a>
        <a routerLink="/viewstocks" id="widget"
            class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Stocks</a>
        <a routerLink="/upload" id="widget"
            class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Upload Stocks</a> -->
        <!-- </div> -->

<!-- 
        <div class="col">
            <div class="row-2"> -->
                <!-- <div class="row-3"> -->
            
                
                <!-- <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/uploadgigg.gif" alt="Card image cap">  </a>
                </div>
            
            
            </div>
            
            <div class="row-2">
                
                    
                    <div class="card-shadow" style="height: 10rem; width: 10rem;">
                    
                        <a routerLink='/userslist'>   <img class="card-img-top" src="../../../../assets/usersgif.gif" alt="Card image cap">  </a>
                    </div>
                
              
            
            </div>
            <div class="row-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/ipodetails'>   <img class="card-img-top" src="../../../../assets/ipogigf.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            <div class="row-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/managecompanyGif.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            <div class="row-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/chart'>   <img class="card-img-top" src="../../../../assets/stockexchangegif.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            </div>
            
    </div>
</div>  -->
  <!-- <div class="card bg-dark text-white">
    <img src="../../../../assets/uploadgigg.gif" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Import Data
      </h5>
      
    </div>
  </div>  -->

<!-- <div class="row">
  <div class="col-sm-2 border-none">
    <app-sidenav></app-sidenav>
  </div> -->


<!-- <div class="col-sm-10">
    <h1>
       Welcome Admin
  </h1>
</div>
 </div>  -->
 
<div class="row lg-2">
    <div class="col py-3">
    
    
    
        <div class="card-shadow" style="height: 12rem; width: 12rem;">
    
            <a routerLink='/upload'>
    
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/uploadgigg.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color:black">Import Data</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    </div>
    
    <div class="col py-3">
    
    
        <div class="card-shadow" style="height: 12rem; width: 12rem;">
    
            <a routerLink='/userslist'>
                <div class="card">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/usersgif.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">Manage Users</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    
    </div>
    <div class="col py-3">
    
    
        <div class="card-shadow" style="height: 12rem; width: 12rem;">
    
            <a routerLink='/ipodetails'>
                <div class="card">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/ipogigf.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">Manage Ipos</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    
    </div>
    <div class="col py-3">
    
    
        <div class="card-shadow" style="height: 12rem; width: 12rem;">
    
            <a routerLink='/companylist'>
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/managecompanyGif.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">ManageCompanies</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    
    </div>
    <div class="col py-3">
    
    
        <div class="card-shadow" style="height: 12rem; width: 12rem;">
    
            <a routerLink='/stocklist'>
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/stockexchangegif.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">ManageStocks</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    
    </div>
    </div>