
  <br><br><br>

<!-- <div class="container justify-content-center"> -->
    <!-- <div class="row"> -->
      <!-- <div class=" row justify-content-center">
        
        <form class="w-50">
          <div class="form-group">
            <div class="card shadow bg-transparent p-4" >
                <p class="h4 card-header text-center" style="grid-row-end:span ;" style="font-variant-numeric: inherit;">LOGIN</p>
            
                
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend"  class="form_group">
                    <span class="input-group-text" >Username</span>
                </div>
                <input type="text" name="username" formcontrolname="username" class="form-control" />
            </div>
            <form  novalidate class="form">
            <div class="input-group mb-3">
                <div class="input-group-prepend" class="form-group">
                    <span class="input-group-text">Password</span>
                </div>
                
                <input type="password" name="password" formcontrolname="password" class="form-control" />
            </div>
          
            <div class="form-check">
                <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="remember">Remember me
                </label>
            </div>
         
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-info " routerLink='/userhome'>Login</button>
                <button type="reset" class="btn btn-info ml-4 ">Reset</button></div>
                </form>
            </div>
            
        </div>
        </form>
      </div> -->
    <!-- </div> -->
    
  <!-- </div> -->
 




 <!-- <div class="login-box">
<h1>LoginForm</h1>
<div class="textbox">
<input type="text" placeholder="UserName" name="username">

</div>
<div class="textbox">
  <input type="password" placeholder="Password" name="password">
</div>
<input class="btn" type="button" value="Sign-In">
 </div> -->



 <div class="container  bg-transparent  ">
  <div class="card card-container bg-transparent ">
      <img id="profile-img" class="profile-img-card" src="../../../../assets/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="username" class="username"></span>
          <input type="text" id="username" class="form-control" placeholder="UserName" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
               <a href="#" class="forgot-password">
                      Forgot the password?
              </a>
          </div>
           <div class="wrapper">
              <span class="group-btn  col-lg-6">     
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" routerLink='/userhome'>login</button>
              </span>
               <span class="group-btn col-lg-6">     
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" routerLink='/registration'>Register</button>
              </span>
          </div>
      </form><!-- /form -->
     
  </div><!-- /card-container -->
</div>