
<div class="rowheight">
    <div class="row-lg-10 py-5">
    
    
    
        <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
            <a routerLink='/viewipo'>
    
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/uipo.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">View IPO</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    </div>
    <div class="row-lg-10 py-5">
    
    
    
        <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
            <a routerLink='/comparecompany'>
    
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/comparecom.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">CompareCompany</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    </div>
    


    <div class="row-lg-10 py-5">
    
    
    
        <div class="card-shadow" style="height: 10rem; width: 10rem;">
    
            <a routerLink='/userprofile'>
    
                <div class="card ">
                    <div class="card-header"><img class="card-img-top" src="../../../../assets/userprofile.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">User Profile</p>
                    </div>
                </div>
            </a>
        </div>
    
    
    </div>
    </div>