
<div class="rowheight">
<div class="row-lg-10 py-5">



    <div class="card-shadow bg-dark" style="height: 10rem; width: 10rem;">

        <a routerLink='/upload'>

            <div class="card ">
                <div class="card-header"><img class="card-img-top" src="../../../../assets/uploadgigg.gif"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">Import Data</p>
                </div>
            </div>
        </a>
    </div>


</div>

<div class="row-lg-10 py-5">


    <div class="card-shadow" style="height: 10rem; width: 10rem;">

        <a routerLink='/userslist'>
            <div class="card">
                <div class="card-header"><img class="card-img-top" src="../../../../assets/usersgif.gif"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">Manage Users</p>
                </div>
            </div>
        </a>
    </div>



</div>
<div class="row-lg-10 py-5">


    <div class="card-shadow" style="height: 10rem; width: 10rem;">

        <a routerLink='/ipodetails'>
            <div class="card ">
                <div class="card-header"><img class="card-img-top" src="../../../../assets/ipogigf.gif"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">Manage Ipos</p>
                </div>
            </div>
        </a>
    </div>



</div>
<div class="row-lg-10 py-5">


    <div class="card-shadow" style="height: 10rem; width: 10rem;">

        <a routerLink='/companylist'>
            <div class="card ">
                <div class="card-header"><img class="card-img-top" src="../../../../assets/managecompanyGif.gif"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">ManageCompanies</p>
                </div>
            </div>
        </a>
    </div>



</div>
<div class="row-lg-10 py-5">


    <div class="card-shadow" style="height: 10rem; width: 10rem;">

        <a routerLink='/stocklist'>
            <div class="card ">
                <div class="card-header"><img class="card-img-top" src="../../../../assets/stockexchangegif.gif"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <p  style="font-family: 'Times New Roman', Times, serif; text-align: center; color: black;">ManageStockExches</p>
                </div>
            </div>
        </a>
    </div>



</div>
<div class="row-lg-10 py-5">
<div class="btn btn-danger text-align"  >
<a routerLink='./logout' style="color: black;">Logout</a>
</div>
</div>
</div>