<!-- <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-dark"> -->
     
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <ul class="navbar-nav text-center">
        <li class="nav-item" style="padding-left: 10px;"><a href="#">Home</a></li>
        <li class="nav-item " style="padding-left: 20px;"><a href="registration">NewUser</a></li>
        <li class="nav-item" style="padding-left: 30px;"><a href="about.html" target="_blank">About</a></li>
        <div class="container">
          <li><a type="button" style="float:right;" href='login' class="btn btn-primary">Login</a></li>
        </div>
      </ul>
    </nav>
  </div>
  <br>
  <br>
  <br>
  

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"> Search <i class="fas fa-search"></i></a>
      </div>
    </div>
  

  </div>


  <footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
      Jagadam
    </div></footer>
    </div> -->
