<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/upload">
          <div class="card-body">
              <h4 class="card-title display-4">Import Data</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/companylist">
          <div class="card-body">
              <h4 class="card-title display-4">ManageCompany</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/stocklist">
          <div class="card-body">
              <h4 class="card-title display-4">Manage Stock Exchange</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/sectorlist">
          <div class="card-body">
              <h4 class="card-title display-4">Manage Sector</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/ipodetails">
          <div class="card-body">
              <h4 class="card-title display-4">ManageeIpoDetails</h4>
          </div>
    </div>
</div>
<div class="col-md-8 my-3">
    <div class="card my-card border border-curved text-center h-100" routerLink="/userslist">
          <div class="card-body">
              <h4 class="card-title display-4">ManageUserDetails</h4>
          </div>
    </div>
</div>



<br>
<!-- 
<div class="col">
       
    <a routerLink="/upload" ><img  class="img-resposive rounded-circle" src="../../../../assets/import.png" alt="Import Data" style="width: 20%; width: 20%; padding-left: 30px;"></a>
     
</div> -->

<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive  rounded-circle" src="../../../../assets/import.png" alt="import">
            <div class="overlay">
                 <h2>IMPORT DATA</h2>
				<p class="text-middle">
                   
					<a routerLink="/upload">Click Here</a>
				</p>
            </div>
    </div>
</div> -->

