<br>
<br>


<div class="row">
    <div class="col-sm-2 border-none">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-sm-10">
<div class="table-responsive">
<table class="table bg-dark  text-white" border="1"  >
    <tr>        <th>ID</th>

        <th>User Name</th>
       
        <th>Contact </th>
        <th>Emial</th>
        
        <th>Actions</th>
    </tr>
    <tr *ngFor=" let user of users">
        <td>{{user.id}}</td>

        <td>{{user.username}}</td>
        
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>
        <button class="extension mx-2" (click)="delete(user)"> <i class="fas fa-user-slash">Delete</i> </button></td>
    </tr>
</table>
</div>
<div class="row justify-content-center">

<button class="btn btn-primary" routerLink="adduser"> Add New User </button>
</div>
</div>
</div>