

  <br><br>
 
          <div class="container-fluid">
          
           
            <main class="main">
              <br><br>
              <div class="container">
                <div class="col">
                  <div class="row ">
                    <h2 class="display-4 ">A stock quote is the price of a stock as quoted on an exchange</h2>
                    <br>
                    <p class="display-6 text-muted text-md-white">Wide diversification is only required when investors do not understand what they are doing
                      The most important quality for an investor is temperament, not intellect
                    </p>
                  </div>
                  <div
                    class="w-lg-25 w-sm-100 mb-5 float-center border p-4 row-lg-4 row-md-5 row-sm-12 shadow jumbotron rounded bg-transparent align-self-start">
                    <h4 class="text-center display-4 text-muted">Login</h4>
                    <a class="btn btn-info btn-lg btn-block mt-3 mb-3 " [routerLink]="['/adminlogin']">SIGN IN</a>
                    <div class="text-center">New User? <a [routerLink]="['/registration']" class="navbar-brand">Sign Up</a></div>
                  </div>
                </div>
              </div>
            
            </main>
            <router-outlet></router-outlet>
          </div>