
<div class="col-md-2 bg-transparent">
    <div class="sidenav-responsive">
        
        <div class="col">
            <div class="row-lg-2">
                <!-- <div class="row-3"> -->
            
                
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/upload'>   <img class="card-img-top" src="../../../../assets/uploadgigg.gif" alt="Card image cap">  </a>
                </div>
            
            
            </div>
            
            <div class="row-lg-2">
                
                    
                    <div class="card-shadow" style="height: 10rem; width: 10rem;">
                    
                        <a routerLink='/userslist'>   <img class="card-img-top" src="../../../../assets/usersgif.gif" alt="Card image cap">  </a>
                    </div>
                
              
            
            </div>
            <div class="row-lg-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/ipodetails'>   <img class="card-img-top" src="../../../../assets/ipogigf.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            <div class="row-lg-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/companylist'>   <img class="card-img-top" src="../../../../assets/managecompanyGif.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            <div class="row-lg-2">
                
                    
                <div class="card-shadow" style="height: 10rem; width: 10rem;">
                
                    <a routerLink='/stocklist'>   <img class="card-img-top" src="../../../../assets/stockexchangegif.gif" alt="Card image cap">  </a>
                </div>
            
            
            
            </div>
            </div>
            
    </div>
</div>